.villas-container{
   width: 100%;
}
.villas-banner{
    position: relative;
}
.villas-banner img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.villas-title{
    position:absolute;
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.525);
    top: 50%;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.632);
    font-weight: 300;
}

.villas-content-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    gap: 30px 20px;
}


@media (min-width: 700px){
    .villas-content-detail{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }
}

@media (min-width: 1024px){
    .villas-content-detail{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
    }
}
@media (min-width: 1440px){
   .villas-content-detail{
       display: grid; 
       grid-template-columns: 1fr 1fr 1fr 1fr; 
   }
}