.footer-container{
    width: 100%;
    background: white;
    padding: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 300;
    box-shadow: 2px 4px 10px 0px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

}
.footer-col{
    display: flex;
    gap: 10px;
}
.footer-name{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-icons{
    display: flex;
    align-items: center;
    text-align: center;
    font-size:1.3rem ;
    color: rgba(0, 0, 0, 0.6);
}